:root{
--Light-red: #ff5757;
--Orangey-yellow: #ffb01f;
--Green-teal: #00bd91;
--Cobalt-blue: #1125d4;

--Light-slate-blue-background: #7857ff;
--Light-royal-blue-background: #2e2be9;

--Violet-blue-circle: hsla(256, 72%, 46%, 1);
--Persian-blue-circle: hsla(241, 72%, 46%, 0);

--White: #ffffff;
--Pale-blue: #ebf1ff;
--Light-lavender: #c8c7ff;
--Dark-gray-blue: #303b5a;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}
body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-blue);
}
.frame{
    -webkit-box-shadow: 10px 12px 31px 13px rgba(130,130,130,0.66); 
    box-shadow: 10px 12px 31px 13px rgba(130,130,130,0.66);
    border-radius: 2rem;
    width: 650px;
    overflow: hidden;
    background-color: var(--White);
    margin: 5% auto;

}
.frame-container{
    display: flex;
}
#frame-left{
    display: flex;
    background: linear-gradient(to bottom, var(--Light-slate-blue-background) ,var(--Light-royal-blue-background));
    border-radius: 2rem;
    
    align-items: center;
    justify-content: center;
}
#frame-left #title{
    color: var(--Light-lavender);
    margin-bottom: 1rem;
}
#frame-left #circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--Violet-blue-circle) ,var(--Persian-blue-circle));
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#circle, #top{
    color:var(--White);
    font-size: 4rem;
}
#circle, #bottom{
    color: var(--Light-lavender);
    
}

.title1{
    color: var(--White);
    font-size: 2rem;
}
.score1{
    color: var(--Light-lavender);
    font-size: 0.8rem;
    margin: 15px;
    width: 200px;
    align-items: center;
    justify-content: center;
}
#frame-right{

}
#badge-reaction{
    background-color: var(--Light-red) ;
    opacity: 0.1;
}
#badge-memory{
    background-color: var(--Orangey-yellow);
    opacity: 0.1;
}
#badge-verbal{
    background-color:var(--Green-teal) ;
    opacity: 0.1;
}
#badge-visual{
    background-color:var(--Cobalt-blue) ;
    opacity: 0.1;
}
.summary-row {
    z-index: 1;
} 

@media (min-width: 576px){
    .frame-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 1440px;
    }
    #frame-left{
        display: flex;
        flex-basis: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
    #frame-right{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        padding: 20px;
    }
}