
/*
    *** made the same mistake again by skiping the rule of moblie first desktop secon
    *** after few twiks the mistake was corrected
    ***newbie here by the way
*/
:root{
--Light-red: #ff5757;
--Orangey-yellow: #ffb01f;
--Green-teal: #00bd91;
--Cobalt-blue: #1125d4;

--Light-slate-blue-background: #7857ff;
--Light-royal-blue-background: #2e2be9;

--Violet-blue-circle: hsla(256, 72%, 46%, 1);
--Persian-blue-circle: hsla(241, 72%, 46%, 0);

--White: #ffffff;
--Pale-blue: #ebf1ff;
--Light-lavender: #c8c7ff;
--Dark-gray-blue: #303b5a;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}
body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-blue);
}
.frame{
    -webkit-box-shadow: 10px 12px 31px 13px rgba(130,130,130,0.66); 
    box-shadow: 10px 12px 31px 13px rgba(130,130,130,0.66);
    border-radius: 2rem;
    width: 650px;
    overflow: hidden;
    background-color: var(--White);
    margin: 5% auto;

}

#frame-left{
    display: flex;
    background: linear-gradient(to bottom, var(--Light-slate-blue-background) ,var(--Light-royal-blue-background));
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#frame-left #title{
    color: var(--Light-lavender);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#frame-left #circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--Violet-blue-circle) ,var(--Persian-blue-circle));
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#circle, #top{
    color:var(--White);
    font-size: 4rem;
}
#circle, #bottom{
    color: var(--Light-lavender);
    
}

.title1{
    color: var(--White);
    font-size: 2rem;
}
.score1{
    color: var(--Light-lavender);
    font-size: 0.8rem;
    margin: 15px;
    width: 200px;
    text-align: center;
    margin-bottom: 1rem;
}
#frame-right{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
#frame-right h3{
    margin-left: 5px;
    padding: 10px;
}
.summary{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 1rem;
}

.summary-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
/*#badge-reaction, #badge-memory, #badge-verbal, #badge-visual, b, p{
    display: flex;
    border-radius: 5px;
    padding: 5px;
  
}*/
.summary-row:nth-child(1){
    background-color: hsla(0,100%,67%,0.2);
}
.summary-row:nth-child(1) .badge-reaction b {
    color: var(--Light-red) ;  
}
.summary-row:nth-child(2){
    background-color: hsla(39,100%,56%,0.2);
}
.summary-row:nth-child(2) .badge-memory b{
    color: var(--Orangey-yellow);  
}
.summary-row:nth-child(3){
    background-color: hsla(166,100%,37%,0.2);
}
.summary-row:nth-child(3) .badge-verbal b{
    color:var(--Green-teal) ;
}
.summary-row:nth-child(4){
    background-color:hsla(234,85%,45%,0.2) ;
}
.summary-row:nth-child(4) .badge-visual b{
    color:var(--Cobalt-blue) ;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}



@media (min-width: 576px){
    .frame-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 1440px;
        margin: 0;
    }
    #frame-left{
        display: flex;
        flex-basis: 50%;
        
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
    #frame-right{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        padding: 20px;
    }
}